/* global sett */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  input {
    border: none;
    outline: none;
  }
  
  /*======================================================================================================= 
                                                          header
  =======================================================================================================*/
  .header {
    padding-top: 50px;
    background: #20202d
      linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    max-width: 945px;
    width: 100%;
    margin: auto;
  }
  
  .link__icon {
    margin-right: 20px;
  }
  
  .block__present {
    display: flex;
    margin-top: 104px;
  }
  
  .block__info {
    margin-top: 34px;
  }
  
  .sup__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffbb01;
  }
  
  .sub__title {
    margin-top: 14px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
  }
  
  .present__text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 58px;
  }
  
  .present__btn {
    background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
    box-shadow: 0px 4px 0px #b68500;
    border-radius: 5px 5px 10px 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #2e2e30;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 42px;
    padding-right: 41px;
  }
  
  .block__img {
    margin-left: 126px;
    padding-bottom: 155px;
  }
  
  /*======================================================================================================= 
                                                          header end
  =======================================================================================================*/
  
  /*======================================================================================================= 
                                                          block__card
  =======================================================================================================*/
  
  .card__block {
    background: #000000;
  }
  
  .card__wrapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    max-width: 288px;
    width: 100%;
  }
  
  .sett {
    margin-bottom: 60px;
  }
  
  .title__card__block {
    margin-bottom: 84px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
  }
  
  .card__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 16px;
    margin-top: 20px;
  }
  
  .card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
  }
  
  /*======================================================================================================= 
                                                          block__card end
  =======================================================================================================*/
  
  /*======================================================================================================= 
                                                          slider
  =======================================================================================================*/
  
  .slider {
    padding-top: 218px;
    background: #000000
      linear-gradient(0.01deg, #20202d 0.01%, rgba(0, 0, 0, 0) 95.44%);
  }
  
  .title__sup__slider {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    margin-bottom: 76px;
  }
  
  .slider__info {
    display: flex;
  }
  
  .slider__ifo {
    margin-left: 62px;
  }
  
  .title__sub__slide {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 41px;
  }
  
  .colum__sup {
    display: flex;
    align-items: center;
  }
  
  .col-1 {
    margin-right: 64px;
    display: flex;
    align-items: center;
  }
  
  .sup__lide {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
  }
  
  .sub__lide {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  
  .time__icon {
    margin-right: 20px;
  }
  
  .slider_review {
    margin-top: 44px;
  }
  
  .col-2 {
    display: flex;
  }
  
  .slider_review {
    display: flex;
  }
  
  .left__img {
    display: flex;
    height: 32px;
    margin-right: 20px;
  }
  
  .reviews {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
  }
  
  .slider__text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
  }
  
  .strip__slider {
    display: flex;
    justify-content: center;
    margin-top: 44px;
    padding-bottom: 108px;
  }
  
  .elipse__active {
    margin-right: 5px;
  }
  
  /*======================================================================================================= 
                                                          slider end
  =======================================================================================================*/
  
  /*======================================================================================================= 
                                                          footer
  =======================================================================================================*/
  
  .footer {
    background: #20202d;
    padding-top: 40px;
  }
  
  .footer__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    margin-bottom: 84px;
  }
  
  .basement__data {
    display: flex;
  }
  
  .footer__form {
    background: #ffffff;
    box-shadow: -5px 5px 0px #ffc41d;
    border-radius: 5px;
    max-width: 380px;
    width: 100%;
    height: 380px;
    margin-bottom: 149px;
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    color: #2e2e30;
  }
  
  .form__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    padding-top: 40px;
    padding-bottom: 28px;
  }
  
  .user__name {
    background: url(../img/user-icon.svg) no-repeat 10px #f8f8f8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-right: 100px;
    padding-left: 49px;
    margin-left: 35px;
    margin-bottom: 17px;
  }
  
  .user__numb {
    background: url(../img/phone-icon.svg) no-repeat 10px #f8f8f8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-right: 100px;
    padding-left: 49px;
    margin-left: 35px;
    margin-bottom: 50px;
  }
  
  ::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #949494;
  }
  
  .button__form {
    margin-left: 35px;
    background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
    box-shadow: 0px 4px 0px #b68500;
    border-radius: 5px 5px 10px 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .right__base {
    margin-left: 99px;
  }
  
  .capt__contact {
    margin-bottom: 53px;
    display: flex;
  }
  
  .number {
    display: flex;
    flex-direction: column;
    margin-right: 113px;
  }
  
  .email {
    display: flex;
    flex-direction: column;
  }
  
  .telefon {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  
  .num {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  
  .post {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  
  .adress {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  
  .social__links {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  
  .social__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    margin-right: 37px;
  }
  
  .icon--link {
    margin-top: 43px;
    margin-bottom: 74px;
  }
  
  .link__pol {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #a5a5a5;
  }
  
  /*======================================================================================================
                                              footer end
  =======================================================================================================*/

  /*======================================================================================================= 
                                                          mobile__sett
  =======================================================================================================*/


  
  @media(max-width: 934px){
    /* header__sett */
    
    .row{
      margin-left: 20px;
      margin-right: 10px;
    }

    .sub__title{
      text-align: center;
    }


  .present__text{
    text-align: center;
    max-width: 600px;
    width: 100%;
  }

    .block__present{
      flex-direction: column-reverse;
      align-items: center;
    }
    .block__img{
      margin: 0;
      padding: 0;
    }

    .block__info{
      margin-bottom: 100px;
      
    }

    .sup__title{
      text-align: center;
    }

    .present__btn{
      display: flex;
      max-width: 178px;
      width: 100%;
      margin: auto;
    }

    

    /* card */

    .title__card__block{
      text-align: center;
    }

    /* slider */
     .title__sup__slider{
       text-align: center;
     }

     .slider__img{
       margin-left: 10px;
       margin-right: 10px;
     }

     .slider__ifo{
       margin: 0;
     }

     br{
       display: none;
      
     }

     .slider__text{
      text-align: left;
     }

     /* foooter */

     .footer__title{
       text-align: center;
     }

     .left__base{
       margin-left: 50px;
     }

     .right__base{
       margin: 0;
       margin-left: 50px;
     }
  }


  @media(max-width: 863px){
      /* card */

    .card__wrapp{
      justify-content: center;
    }

    .card{
    text-align: center;
    }

    .sett{
      margin-right: 20px;
    }
  }

  @media(max-width: 790px){
      /* slider */

      .slider__info{
        flex-direction: column;
      }

      .slider__img{
        text-align: center;
        margin-bottom: 46px;
      }

      .title__sub__slide{
        text-align: center;
      }

      .colum__sup{
        justify-content: center;
        margin-bottom: 50px;
      }

      .col-2{
        margin-left: 124px;
      }

      .slider_review{
        
        max-width: 500px;
        width: 100%;
        margin: auto;
      }

      /* footer */

      .basement__data{
        flex-direction: column;
        padding-bottom: 100px;
      }

      .left__base{
        margin: auto;
      }

      .right__base{
        margin: auto;
      }
  }

  @media(max-width: 574px) {
    /* header */

    .ig-logo{
      max-width: 200px;
      width: 100%;
    }

    .sub__title{
      margin-bottom: 15px;
    }

    .present__text{
      max-width: 320px;
      width: 100%;
      margin: auto;
     text-align: center;
    }

    .present__btn{
      margin-top: 20px;
    }

    /* slider */

    .logo__slider{
      margin-left: 0;
      max-width: 250px;
      width: 100%;
    }

    .slider{
      padding-top: 100px;
    }

    .title__sub__slide{
      max-width: 320px;
      width: 100%;
      margin: auto;
    }

    .colum__sup{
      flex-direction: column;
    }

    .col-1{
      max-width: 320px;
      width: 100%;
      margin: 0;
      padding-top: 40px;
      padding-bottom: 33px;
    }

    .col-2{
      max-width: 320px;
      width: 100%;
      margin: 0;
    }

    .slider_review{
      max-width: 320px;
      width: 100%;
    }

    .slider__text{
      text-align: left;
    }

    /* footer */

    .footer__form{
      max-width:256px;
      width: 100%;
    }

    .form__text{
 font-weight: 700;
font-size: 15px;
line-height: 140%;
text-align: center
    }

    br{
      display: none;
    }

    .user__name{
      padding-right: 40px;
      max-width: 120px;
      width: 100%;
      margin-left: 20px;
    }

    .user__numb{
      margin-left: 20px;
      padding-right: 40px;
      max-width: 120px;
      width: 100%;
      align-items: center;
    }

    .button__form{
      padding: 0;
      
    }

    .btn__sm{
      margin-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .capt__contact{
      flex-direction: column;
    }

    .number{
      margin-bottom: 35px;
    }

    .social__link{
      display: flex;
    }

  }

  @media(max-width: 405px){
    /* header */

    .sup__title{
 font-weight: 400;
font-size: 16px;
line-height: 27px;
text-align: center;
color: #FFBB01
    }

    .sub__title{
 font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
    }

    .present__text{
 font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #FFFFFF;
    }

    .present__btn{
       padding-top: 15px;
       padding-bottom: 15px;
       padding-right: 10px;
      font-size: 10px;
    }

    /* card */

    .title__card__block{
 font-weight: 700;
font-size: 19px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
    }

    .card__title{
      font-size: 18px;
    }

    .card__text{
      font-size: 14px;
    }

    /* slider */

    .title__sup__slider{
      font-size: 19px;
    }

    .title__sub__slide{
      font-size: 18px;
    }

    .slider__text{
      max-width: 240px;
      width: 100%;
      font-size: 14px;
    }

    /* footer */

    .footer__title{
      font-size: 19px;
    }

    
  }





  @media(max-width: 320px){

    /* header */

    .row{
      margin-left: 10px;
      margin-right: 0;
    }


    /* slider */
    .slider__text{
      max-width: 210px;
      width: 100%;
    }
  
    .colum__sup{
      margin-left: 20px;
    }
  
    .slider_review{
      margin-left: 20px;
    }
  }


  
 